#header.header {
    background-color: orange;
    background-image: -webkit-linear-gradient(top, darkorange 0%, orange 100%);
    background-image: linear-gradient(to bottom, darkorange 0%, orange 100%);}

.region-header .block-menu.menu--account {
    border: 1px solid black;
}

.block-menu.menu--main {
    border: 1px solid red;
    margin-bottom: 25px;
    flex
}