/*
  * Text Colors
  * 1) These are non-linked text colors, such as body copy.
  */
  $color-text: $color-black;
  $color-text-subtle: $color-gray-50;
  
  /*
   * Heading Colors
   * 1) These are non-linked heading colors, such as h2, h3, etc.
   */
  $color-heading: $color-black;
  $color-heading-accent: $color-gray-87;
  
  /*
   * Text Link Colors
   * 1) These are for linked text, such as a link found within an article,
   *    navigation link, footer link, etc.
   */
  $color-text-link: $color-gray-87;
  $color-text-link-hover: $color-gray-73;
  $color-text-link-visited: $color-black;
  $color-text-link-active: $color-gray-87;
  
  $color-text-link-light: $color-white;
  $color-text-link-light-hover: $color-white;
  $color-text-link-light-visited: $color-white;
  
  /*
   * Border Colors
   * 1) Border colors are used as decoration or dividers, such as as a seperator
   *    for navigation items, block borders, etc.
   */
  $color-border: $color-gray-50;
  