 /*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
$color-white: #fff;
$color-gray-02: #f7f9f9;
$color-gray-15: #d9d9d9;
$color-gray-35: #a5a5a5;
$color-gray-50: #808080;
$color-gray-65: #595959;
$color-gray-73: #444444;
$color-gray-87: #222222;
$color-black: #000;


$color-dim-50: rgba(0,0,0,0.5);
$color-dim-70: rgba(0,0,0,0.7);



// These are for the color swatches 
.sg-color-white {
	background-color: $color-white;
}
.sg-color-gray-02 {
	background-color: $color-gray-02;
}
.sg-color-gray-15 {
	background-color: $color-gray-15;
}
.sg-color-gray-35 {
	background-color: $color-gray-35;
}
.sg-color-gray-50 {
	background-color: $color-gray-50;
}
.sg-color-gray-65 {
	background-color: $color-gray-65;
}
.sg-color-gray-73 {
	background-color: $color-gray-73;
}
.sg-color-gray-87 {
	background-color: $color-gray-87;
}
.sg-color-black {
	background-color: $color-black;
}
.sg-color-dim-50 {
	background-color: $color-dim-50;
}
.sg-color-dim-70 {
	background-color: $color-dim-70;
}
