/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */

$color-brand: hsl(35, 100%, 50%);

$color-brand-white-mix: harmonious-mix($color-brand, white);
$color-brand-white: lighten($color-brand-white-mix, 5%);
$color-brand-neutral: mix-neutral($color-brand);
$color-brand-light-mix: harmonious-mix($color-brand-white, $color-brand-neutral);
$color-brand-light: lighten($color-brand-light-mix, 7%);
$color-brand-black: harmonious-mix($color-brand, black);
$color-brand-dark-mix: harmonious-mix($color-brand-black, $color-brand-neutral);
$color-brand-dark: darken($color-brand-dark-mix, 7%);

$color-comp: complement($color-brand);
$color-comp-white-mix: harmonious-mix($color-comp, white);
$color-comp-white: lighten($color-comp-white-mix, 5%);
$color-comp-neutral: mix-neutral($color-comp);
$color-comp-light-mix: harmonious-mix($color-comp-white, $color-comp-neutral);
$color-comp-light: lighten($color-comp-light-mix, 7%);
$color-comp-black: harmonious-mix($color-comp, black);
$color-comp-dark-mix: harmonious-mix($color-comp-black, $color-comp-neutral);
$color-comp-dark: darken($color-comp-dark-mix, 7%);


// These are for the color swatches 
.sg-color-brand-white {
	background-color: $color-brand-white;
}
.sg-color-brand-light {
	background-color: $color-brand-light;
}
.sg-color-brand {
	background-color: $color-brand;
}
.sg-color-brand-dark {
	background-color: $color-brand-dark;
}
.sg-color-brand-black {
	background-color: $color-brand-black;
}

.sg-color-comp-white {
	background-color: $color-comp-white;
}
.sg-color-comp-light {
	background-color: $color-comp-light;
}
.sg-color-comp {
	background-color: $color-comp;
}
.sg-color-comp-dark {
	background-color: $color-comp-dark;
}
.sg-color-comp-black {
	background-color: $color-comp-black;
}
