/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
$color-utility-positive: harmonious-mix($color-brand, green);
$color-utility-positive-subtle: lighten($color-utility-positive, 35%);
$color-utility-positive-subtle: desaturate($color-utility-positive-subtle, 35%);

$color-utility-caution: harmonious-mix($color-brand, yellow);
$color-utility-caution-subtle: lighten($color-utility-caution, 20%);

$color-utility-negative: harmonious-mix($color-brand, red);;
$color-utility-negative-subtle: lighten($color-utility-negative, 35%);
$color-utility-negative-subtle: desaturate($color-utility-negative-subtle, 35%);

$color-utility-neutral: harmonious-mix($color-brand, blue);;
$color-utility-neutral-subtle: lighten($color-utility-neutral, 35%);
$color-utility-neutral-subtle: desaturate($color-utility-neutral-subtle, 35%);


// These are for the color swatches 
.sg-color-utility-positive {
	background-color: $color-utility-positive;
}
.sg-color-utility-positive-subtle {
	background-color: $color-utility-positive-subtle;
}
.sg-color-utility-caution {
	background-color: $color-utility-caution;
}
.sg-color-utility-caution-subtle {
	background-color: $color-utility-caution-subtle;
}
.sg-color-utility-negative {
	background-color: $color-utility-negative;
}
.sg-color-utility-negative-subtle {
	background-color: $color-utility-negative-subtle;
}
.sg-color-utility-neutral {
	background-color: $color-utility-neutral;
}
.sg-color-utility-neutral-subtle {
	background-color: $color-utility-neutral-subtle;
}
