/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font : "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary : Georgia, Times, "Times New Roman", serif;
$font-mono : "Lucida Console", Courier, monospace;

$font-size-small : 0.75rem;
$font-size-small-2 : 0.875rem;
$font-size-med : 1rem;
$font-size-med-2: 1.0625rem;
$font-size-large : 1.4375rem;

