/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/





/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/*
 * 1) Color variables involve a two-tier system to keep colors in sync. The
 *    first tier defines the brand and neutral colors, and the second tier
 *    defines the application of those colors.
 */

/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */
 @import 'colors-brand';


 /*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
@import 'colors-neutral';


/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
@import 'colors-utility';


/*
 * Color second tier defines the application of those colors.
 * These won't have their own swatches, but will be used in other elements.
 */
@import 'colors-application';




/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
@import 'typography';





/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$l-max-width: 80em;

/**
 * Spacing Defaults
 */
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border Width
 */
$border-med: 3px;
$border-thick: 7px;

/**
 * Border Radius
 */
$border-radius: 6px;





/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Animation Duration
 */
$anim-speed-quick: 0.2s;

/**
 * Animation Easing
 */
$anim-ease: ease;




/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints
 */
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;
