/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.c-btn {
	display: inline-block;
	background: $color-brand;
	color: $color-comp-black;
	line-height: 1;
	font-weight: bold;
	padding: 1rem 2rem;
	border: 0;
	border-radius: $border-radius;
	text-align: center;
	transition: background 0.2s ease;

	&:hover, &:focus {
		// background: $color-brand-neutral;
		color: $color-comp-neutral;
	}

	/**
	 * Disabled button
	 */
	&.disabled {
		background: $color-gray-15;
		color: $color-gray-50;
	}
}

/**
 * Small button
 */
.c-btn-small {
	padding: $pad-half;
}

/**
 * Large button
 */
.c-btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $color-gray-50;
	font-size: 1.4rem;
	font-weight: normal;
}

/**
 * Text button
 */
.c-text-btn {
	position: relative;
	background: none;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    
    &:after {
	    position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		background: url("../../../images/icon-arrowhead.svg") no-repeat;
	    top: 7px;
		right: -26px;
		transition: all 0.2s ease;
	}
	
	&:hover, &:focus {
	    color: $color-gray-73;
	    
	    &:after {
		    right: -28px;
	    }
    }
    
    .c-block-media--small & {
	    font-size: 1rem;
	}
}

/**
 * Button on overlay
 */
 
 .c-btn--overlay {
	 background: $color-gray-35;
 }


.btn {
	padding: 13px 26px;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.btn-small {
	padding: 10px 15px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: .9em;
	font-weight: bold;
}

.btn-brand {
	border-top: 1px solid $color-brand-white;
	background: $color-brand-dark;
	background: -webkit-gradient(linear, left top, left bottom, from($color-brand-dark), to($color-brand-light));
	background: -webkit-linear-gradient(top, $color-brand-dark, $color-brand-light);
	background: -moz-linear-gradient(top, $color-brand-dark, $color-brand-light);
	background: -ms-linear-gradient(top, $color-brand-dark, $color-brand-light);
	background: -o-linear-gradient(top, $color-brand-dark, $color-brand-light);
	-webkit-box-shadow: $color-brand-black 0 1px 0;
	-moz-box-shadow: $color-brand-black 0 1px 0;
	box-shadow: $color-brand-black 0 1px 0;
	color: white;
	font-family: $font;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: $color-brand-black 0 1px 0;

	&:hover {
		border-top-color: $color-brand-dark;
		background: $color-brand-dark;
		color: $color-gray-15;
	}

	&:active {
		border-top-color: $color-brand-dark;
		background: $color-brand-dark;
	}
}

.btn-comp {
	border-top: 1px solid $color-comp-white;
	background: $color-comp-dark;
	background: -webkit-gradient(linear, left top, left bottom, from($color-comp-dark), to($color-comp-light));
	background: -webkit-linear-gradient(top, $color-comp-dark, $color-comp-light);
	background: -moz-linear-gradient(top, $color-comp-dark, $color-comp-light);
	background: -ms-linear-gradient(top, $color-comp-dark, $color-comp-light);
	background: -o-linear-gradient(top, $color-comp-dark, $color-comp-light);
	-webkit-box-shadow: $color-comp-black 0 1px 0;
	-moz-box-shadow: $color-comp-black 0 1px 0;
	box-shadow: $color-comp-black 0 1px 0;
	text-shadow: $color-comp-black 0 1px 0;
	color: white;
	font-family: $font;
	text-decoration: none;
	vertical-align: middle;

	&:hover {
		border-top-color: $color-comp-dark;
		background: $color-comp-dark;
		color: $color-gray-15;
	}

	&:active {
		border-top-color: $color-comp-dark;
		background: $color-comp-dark;
	}
}

.btn-call {
	border-top: 1px solid $color-brand-dark;
	background: $color-brand;
	-webkit-box-shadow: $color-brand-black 0 1px 0;
	-moz-box-shadow: $color-brand-black 0 1px 0;
	box-shadow: $color-brand-black 0 1px 0;
	text-shadow: $color-brand-black 0 1px 0;
	color: white;
	font-family: $font;
	text-decoration: none;
	vertical-align: middle;

	&:hover {
		border-top-color: $color-brand-light;
		background: $color-brand;
		-webkit-box-shadow: $color-brand-light 0 1px 0;
		-moz-box-shadow: $color-brand-light 0 1px 0;
		box-shadow: $color-brand-light 0 1px 0;
		color: $color-gray-02;
	}

	&:active {
		border-top-color: $color-brand;
		background: $color-brand;
	}
}
